{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Empleado</title>
    <link rel="stylesheet" href="{% static 'Styles.css' %}">
</head>
<body>
    <h1>Confirmar eliminación</h1>

<p>¿Desea eliminar el Empleado {{ empleados.Nombre }} {{ empleados.Apellido }}?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Si, Eliminar</button>
</form>
<a href="{% url 'ListarEmpleados' %}">No</a>
</body>
</html>