{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcial – Laura Pinzón</title>
    <link rel="stylesheet" href="{% static '../static/Css/StylesEliminar.css' %}">
</head>
<body>
    <header>
        <nav>
          <div class="logo">
            <h1>TechPro UTS</h1>
          </div>
          <ul class="nav-links">
            <li><a href="{% url 'Listar' %}">Lista de Solicitudes </a></li>
            <li><a href="{% url 'Crear' %}">Crear Solicitud</a></li>
          </ul>
        </nav>
      </header>
    <h1>Confirmar eliminación</h1>

    <p>¿Está segura/o que desea eliminar la solicitud?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Si, Eliminar</button>
    </form>
    <a href="{% url 'Listar' %}">No</a>

    <footer>
        <p>Realizado por: Laura Vanesa Pinzón Moncada</p>
        <p>Número de documento: 1005485223</p>
    </footer>
</body>
</html>